html{
	box-sizing: border-box;
}

body{
	font-family: 'Karantina', cursive;
	margin:0;
	background: whitesmoke;
}

h1	{
	text-align: center;
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 40px;
	letter-spacing: 5px;
}